* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header,
footer {
    width: 100%;
    background-color: red;
    padding: 25px;
    color: white;  

}

section {
    display: flex;
}

aside {
    width: 26%;
    float: left;
    background-color: #37b437;
    padding-left: 18px;
}

aside ul li {
    list-style: none;
    color: white;
    margin-top: 18px;
    border-bottom: 1px solid white;
          cursor: pointer;
}
aside ul li:hover {
    color: rgb(16, 15, 15);
}
aside h3 {
    margin: 20px 0px;
    color: white;
}

main {
    padding: 20px;
}

main h2 {
    text-align: center;
    padding: 20px;
}

main p {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(143, 140, 140);
    color: rgb(60, 58, 58);
}

main h3 {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}